.back{
    background-color: rgba(0, 71, 99, 255);
    
}


.upper{
    background-color: lightblue;
    border-radius: 10px;
    height: 50px;
}

.navbar-brand{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    padding-top: 75px;
    margin-left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: burlywood;
    border-style: solid;
    width:375px;
    text-align: center;
    height: min-content;
    border-radius: 15px;
    border-color: beige;
}

.btn{
    padding-bottom: 35px;
    margin-left: 640px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:200px;
    text-align: center;
    height: min-content;
}
.listing{
    margin: 10px;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(202, 245, 95, 255);
    color: white;
    text-align: left;
    font-family:cursive;
  }